doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/login.css')
  title Login into KGL 
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href='#') 
      img(src='/img/logo.png' alt='...' width='80')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/index') Home
        li.nav-item
          a.nav-link(href='/form') Form page
        li.nav-item
          a.nav-link(href='/login') Login page
        li.nav-item
          a.nav-link(href='/sales') Sales
        li.nav-item
          a.nav-link(href='/salesreport') Sales Report
.container
  .card-body
    // logo section
    .app-brand.justify-content-center
      a.app-brand-link.gap-2(href='index.html')
        span.app-brand-logo
          img(src='/church-2-0/img/logo.png' alt='' width='40')
        span.app-brand-text.demo.text-body.fw-bolder Karibu Groceries Limited
    h4.mb-2  Welcome to KGL record-keeping software!
    p.mb-4 Please login to your respective branch to start your journey
    // register Section
    form#formAuthentication.mb-3
      .mb-3
        label.form-label(for='exampleInputEmail1') Email address
        input#email.form-control(type='email' name='email-username' placeholder='Enter your email address')
        #emailHelp.form-text We&apos;ll never share your email with anyone else.
      .mb-3.form-password-between
        label.form-label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password' placeholder='..............')
      .mb-3.form-check
        input#exampleCheck1.form-check-input(type='checkbox')
        label.form-check-label(for='exampleCheck1')  I have read, understood and agree to the terms and conditions
      button.btn.btn-primary.d-grid.w-100(type='submit') Login
